/* .table button {
    appearance: none;
    border: 1px solid rgba(27, 31, 35, 0);
    border-radius: 20px;
    box-shadow: rgba(27, 31, 35, 0) 0 1px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 10px;
    margin-right: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }
  
  .content {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    padding: 1em;
    text-decoration: none;
    width: 100vw;
  }
  
  .table-div {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    max-width: 80%;
    padding: 10px;
    text-align: center;
  }
  
  .add-title {
    color: #313d5a;
    margin-bottom: -25px;
    margin-left: 5%;
    padding-top: 20px;
    text-align: left;
  }
  
  .exp-title {
    color: #313d5a;
    margin-bottom: -10px;
    padding-top: 20px;
    text-align: center;
  }
  
  th {
    background-color: #73628a;
    color: white;
    padding: 15px;
  }
  
  tbody , td {
    background-color: #eaeaea;
    color: #313d5a;
    padding: 15px;
  }
  
  .edit-btn {
    background-color: #313d5a;
  }
  
  .delete-btn {
    background-color: #b80022;
  }
  
  .main-title {
    color: #313d5a;
    margin-bottom: -10px;
    margin-left: 5%;
    text-align: left;
  }
  
  .log-email {
    font-weight: 700;
  } */